<div class="footer-wrap">
	<div class="footer">
		<%	if(user){ %>
		<%= user.name %>，你好！<a href="/signout">退出</a>
		<%	}else{ %>
		<a href="/signup">注册</a>
		<a href="/signin">登录</a>
		<%	}  %>		
	</div>	
</div>
</body> 
</html> 
