<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<link rel="stylesheet" href="/css/index.css">
	<script src="/js/jquery.min.js"></script>
	<script src="/js/admin.js"></script>
	<script src="/js/nav.js"></script>
</head>
<body>
<div class="header">
	<div class="nav">
		<ul>
			<li><a href="/" class="active">首页</a></li>
			<li><a href="/admin/movie">电影录入</a></li>
			<li><a href="/admin/list">电影列表</a></li>
			<li><a href="/user/userlist">用户列表</a></li>
			<li><a href="/admin/catetory/new">增加分类</a></li>
			<li><a href="/admin/catetory/list">分类列表</a></li>
		</ul>
	</div>
	<!-- 搜索 -->
	<!-- <form action="/results" method="get">
		<input type="text" name="serachWord" id="form">
		<button type="submit">搜索</button>
	</form> -->
</div>


